$textOnPrimary: hsl(266deg 56% 21%);
$primary: hsl(266deg 99% 64%);
$primaryDark: hsl(266deg 99% 64% / 32%);

.button {
  width: 40px;
  height: 40px;
  border: none;
  background: $primaryDark;
  border-radius: 5px;
  color: $primary;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  flex: none;
  margin: 8px 8px 0 8px;
  outline: none;

  &:hover {
    background: transparentize($primary, .6)
  }

  &[data-active="true"] {
    background: $primary;
    color: $textOnPrimary;

    &:hover {
      background: transparentize($primary, .1);
    }
  }
}
