.container {
  height: calc(100% - 50px);
  display: flex;
}

.wrapper {
  position: relative;
  flex-grow: 1;
}

@mixin full-height {
  position: absolute;
  top: 0;
  height: 100%;
}

.side {
  @include full-height;
  z-index: 1;
  pointer-events: none;
}

.canvas {
  @include full-height;
  left: 0;
  width: 100%;
}
