.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 8px 11px;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-weight: 500;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.icon {
  width: 18px;
  height: 18px;
  display: block;
}

.button {
  background: transparent;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font: inherit;
  font-weight: 500;

  &:hover {
    background: rgba(0, 0, 0, 0.08);
  }

  &.expanded {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #E1D1FC;
    color: #6601EB;

    &:hover {
      background: #d7c9f2;
    }

    .text {
      margin-left: 8px;
    }
  }
}
